
@media only screen and (max-width : 1920px) {
    .banner-content .main-heading {
       
    }
    .banner-content {
        background: url(../img/hero.jpg) no-repeat;
        background-size: 100%;
        min-height: 95vh;
        position: relative;
    }
    .about .s-circle {
        height: 140px;
        width: 140px;
        border-radius: 50%;
        background-image: url(../img/scircle.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .about .ex-circle {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-image: url(../img/online.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .sub-box {
    }
    
}

@media only screen and (max-width : 1600px) {
    .banner-content .main-heading {
        
    }
    .banner-content {
        background: url(../img/hero.jpg) no-repeat;
        background-size: 100%;
        min-height: 95vh;
        position: relative;
    }
    .about .s-circle {
        height: 145px;
        width: 145px;
        border-radius: 50%;
        background-image: url(../img/scircle.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .about .ex-circle {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-image: url(../img/online.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .sub-box {
    }
    .contact .cntnt-box {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 100px 35px;
        margin: 185px 0px 185px 160px;
        color: rgb(245, 245, 245);
    }
    
}

@media only screen and (max-width : 1280px) {
    .header {
        padding: 55px 60px 0 60px;
        width: 100%;
        z-index: 12;
    }
    .header .my-nav ul li .menu {
        color: white;
        font-weight: 400;
        font-size: 18px;
        padding: 2px 7px;
        margin-right: 22px;
    }
    .banner-content {
        background: url(../img/hero.jpg) no-repeat;
        background-size: cover;
        background-position: right;
        min-height: 86vh;
        position: relative;
    }
    .banner-content .main-heading {
        
    }
    .banner-content .main-heading h1 {
        color: white;
        font-size: 42px;
    }
    .banner-content .main-heading p {
        color: #dadada;
        font-size: 18px;
        margin: 25px 0;
    }
    .about .big-circle {
        height: 380px;
        width: 380px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 80px;
        position: relative;
    }
    .about .s-circle {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-image: url(../img/scircle.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .about .ex-circle {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-image: url(../img/online.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .why p {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 25px;
    }
    
    .contact .cntnt-box {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 100px 35px;
        margin: 185px 0px 185px 90px;
        color: rgb(245, 245, 245);
    }
}

/

@media only screen and (max-width : 768px){
    
    .header {
        padding: 30px 35px 0px 35px;
        width: 100%;
        z-index: 12;
    }
    .banner-content .banner {
        padding: 6% 0% 5% 5%;
    }
    .banner-content .main-heading h1 {
        color: white;
        font-size: 27px;
    }
    .banner-content .main-heading p {
        color: #dadada;
        font-size: 13px;
        margin: 0px 75px 10px 0px;
    }
    .banner-content .main-heading button {
        border-radius: 50px;
        padding: 5px 15px;
        font-size: 14px;
        font-weight: 500;
        color: #0FCDF7;
        border: 1;
        letter-spacing: 1px;
        background: transparent;
        border-color: #0FCDF7;
        border-style: solid;
    }

    .banner-content {
        background: url(../img/hero.jpg) no-repeat;
        background-size: 100%;
        min-height: 0;
        position: relative;
    }

    .about h2{
        font-size: 25px;
    }

    .about {
        background-color: #F2F2F2;
        padding: 10px 39px 30px 39px;
    }
    .about p {
        text-align: justify;
        font-size: 15px;
        line-height: 23px;
        margin-top: 15px;
        text-indent: 40px;
    }

    .about button {
        border-radius: 50px;
        padding: 4px 14px;
        font-size: 14px;
        font-weight: 500;
        color: #4858AD;
        border: 1;
        letter-spacing: 1px;
        background: transparent;
        border-color: #4858AD;
        border-style: solid;
        float: left;
    }


    .about .big-circle {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 18px;
        position: relative;
        margin-top: 30px;
    }

    .why {
        background-image: url(../img/whychoose.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        position: relative;
        padding: 40px;
        background-position: center;
    }

    .why h2 {
        margin-bottom: 40px;
        font-size: 25px;
    }

    .why i {
        font-size: 16px;
        color: #0FCDF7;
        padding: 4px;
        background-color: white;
        border-radius: 50%;
    }

    .why p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .sub-box .box1 {
        background-color: white;
        padding: 20px 18px 25px 18px;
        text-align: center;
        box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
        border-radius: 15px;
    }

    .sub-box .box h3 {
        color: #2B2A69;
        margin-bottom: 15px;
        font-size: 22px;
    }
    .sub-box .box p {
        color: #6d6d71;
        font-size: 12px;
        margin-bottom: 25px;
        text-align: justify;
    }

    .sub-box .box button {
        color: white;
        font-size: 12px;
        background-color: #2F41A5;
        border-radius: 50px;
        padding: 4px 15px;
        border: 1;
        letter-spacing: 1px;
        border-color: #2F41A5;
        border-style: solid;
    }

    .courses {
        padding: 40px 0px 35px 0px;
    }

    .courses h2 {
        margin-bottom: 35px;
        text-align: left;
        color: #192565;
        font-size: 25px;
    }

    .clr-box h4 {
        color: #fff;
        font-size: 15px;
        font-weight: 500;
    }

    .clr-box {
        background-color: rgba(49, 67, 165, 0.65);
        width: 200px;
        min-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .ceo {
        margin-bottom: 35px;
    }

    .ceo h2 {
        margin-bottom: 20px;
        color: #192565;
    }

    .ceo .card .blue {
        height: 80px;
        border-radius: 10px 10px 0px 0px;
        background-color: #7E86B4;
        padding: 0px;
    }

    .circle img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 2px solid rgb(47, 157, 122);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto 0 auto;
        display: block;
        transform: translateY(40PX);
    }
    .ceo .card h4 {
        margin-top: 50px;
        text-align: center;
        color: #3a4cb0;
        font-size: 16px;
        margin-bottom: 0px;
    }

    .ceo .card h5 {
        text-align: center;
        color: #909198;
        font-size: 13px;
    }

    .ceo .card p {
        color: #909198;
        font-size: 10px;
        padding: 0;
    }
    .contact .cntnt-box {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 50px 40px;
        margin: 50px 40px;
        color: rgb(245, 245, 245);
    }
    .contact .cntnt-box button {
        border-radius: 10px;
        padding: 4px 35px;
        font-size: 15px;
        font-weight: 400;
        color: white;
        border: 0;
        letter-spacing: 1px;
        background-color: rgba(45, 61, 142, 0.6);
        margin-bottom: 15px;
    }

    .contact .contact-box {
        background-color: white;
        width: 500px;
        border-radius: 10px;
        margin-top: 60px;
        margin: 0 auto;
        margin-bottom: 44px;
        padding: 40px;
        
    }

    .contact .contact-box .snd-btn {
        border-radius: 50px;
        padding: 10px 16px;
        font-size: 13px;
        font-weight: 600;
        color: #18256d;
        border: 2px;
        letter-spacing: 1px;
        background: transparent;
        border-color: #18256d;
        border-style: solid;
        width: 100%;
        margin-top: 30px;
    }

    .utub {
        padding: 50px 40px 30px 40px;
        background-color: #CCCCCC;
    }

    .utub .utub-vdo iframe {
        height: 200px;
        width: 100%;
    }

    .utub .utub-cntnt {
        padding: 0;
    }

    .utub h3 {
        color: #18256d;
        font-size: 24px;
    }

    .utub p {
        margin-top: 0px;
        line-height: 22px;
        color: #6c6d72;
        margin-bottom: 20px;
        font-size: 13px;
    }

    .utub button {
        border-radius: 5px;
        padding: 5px 30px;
        font-size: 14px;
        font-weight: 400;
        color: white;
        border: 0;
        letter-spacing: 1px;
        background-color: #18256d;
        margin-bottom: 0;
    }

    .utub .utub-vdos iframe {
        height: 150;
        width: 100%;
        margin-bottom: 25px;
    }

    .testimony {
        padding: 40px;
    }

    .testimony h2 {
        margin-bottom: 25px;
        FONT-SIZE: 25PX;
    }

    .testimony .box-shdw {
        box-shadow: rgb(17 17 26 / 5%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 0px 8px;
        background-color: white;
        padding: 10px 5px;
        border-radius: 10px;
        margin-bottom: 11px;
    }
    .testimony .box-shdw h5 {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0;
    }

    .testimony .box-shdw span {
        color: #aba7a7;
        font-size: 12px;
    }

    .testimony .box-shdw p {
        margin-top: 3px;
        font-size: 10px;
        color: gray;
        margin-bottom: 0;
    }

    .testimony .carousel-indicators {
        left: 0;
        top: 160px;
    }

    .testimony .carousel-indicators {
        left: 0;
        top: 160px;
    }

    .mainfooter {
        background: #0a1240;
        color: white;
        padding: 25px;
    }
    .mainfooter h5 {
        margin-bottom: 15px;
        font-size: 18px;
    }
    .mainfooter ul li {
        margin-bottom: 1px;
    }

    .mainfooter a {
        color: #fff;
        font-size: 11px;
        transition-duration: 0.2s;
    }

    .header .logo {
        width: 110px;
    }
    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
    }

    #cont-box{
        margin-top: -24px;
        margin-bottom: -10px;
    }

    .mainfooter .footer-connect{
        margin-left: -50px;
    }

    #ico{
        padding-right: 60px;
    }
}





@media only screen and (min-width: 360px) and (max-width : 560px) {
    .header {
        padding: 10px;
    }
    .header .logo {
        width: 65px;
    }

    .banner-content .main-heading p {
        color: #dadada;
        font-size: 18px;
        margin: 25px 0;
    }

    .navbar {
        text-align: right;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: flex-end;
        padding: 0;
    }
    .navbar-toggler {
        font-size: 8px;
    }
    .header .my-nav ul li .active {
        background-color: transparent;
    }
    .header .my-nav ul li button {
        border-radius: 50px;
        padding: 1px 15px;
        font-size: 10px;
        font-weight: 500;
        color: white;
        border: 1;
        letter-spacing: 1px;
        background: transparent;
        border-color: white;
        border-style: solid;
    }
    .header .my-nav ul{
        margin-top: 5px;
    }

    .about .big-circle img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-left: -12px;
    }
    .header .my-nav ul li .menu {
        color: white;
        font-weight: 400;
        font-size: 12px;
        padding: 2px 7px;
        margin-right: 0;
    }
    .banner-content {
        background: url(../img/hero.jpg) no-repeat;
        background-size: cover;
        background-position: right;
        min-height: 193px;
    }
    .banner-content .main-heading {

    }
    .banner-content .main-heading h1 {
        color: white;
        font-size: 10px;
    }
    .banner-content .main-heading button {
        border-radius: 50px;
        padding: 2px 6px;
        font-size: 8px;
        font-weight: 400;
        color: #0FCDF7;
        border: 1;
        letter-spacing: 1px;
        background: transparent;
        border-color: #0FCDF7;
        border-style: solid;
    }
    .about {
        background-color: #F2F2F2;
        padding: 5px;
    }
    .about h2{
        font-size: 1rem;
    }
    .about p {
        font-size: 9px;
        line-height: 2;
        margin-top: 9px;
    }
    .about button {
        border-radius: 50px;
        padding: 2px 8px;
        font-size: 8px;
        font-weight: 500;
        color: #4858AD;
        border: 1;
        letter-spacing: 1px;
        background: transparent;
        border-color: #4858AD;
        border-style: solid;
        float: left;
    }
    
    .why {
        background-image: url(../img/whychoose.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 0 15px 0;
        color: white;
        position: relative;
        margin-top: -160px;
    }
    .why h2 {
        margin-bottom: 15px;
        padding-top: 15px;
        font-size: 19px;
    }
    .why i {
        font-size: 14px;
        color: #0FCDF7;
        padding: 3px;
        background-color: white;
        border-radius: 50%;
    }
    .why p {
        font-size: 11px;
        margin-top: 2px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .courses {
        padding: 15px 0px 15px 0px;
    }
    .courses h2 {
        font-size: 19px;
        margin-bottom: 20px;
        text-align: center;
        color: #192565;
    }
    .courses .img-box {
        margin-right: 0;
        margin-bottom: 0;
    }
    .courses .img-box1 {
        margin-left: 0;
        margin-bottom: 20px;
    }
    .clr-box {
        background-color: rgba(49, 67, 165, 0.65);
        width: 120px;
        min-height: 37px;
        display: flex;
    }
    .clr-box1 {
        background-color: rgba(49, 67, 165, 0.65);
        width: 120px;
        min-height: 37px;
        display: flex;
    }
    .clr-box h4 {
        color: white;
        font-size: 10px;
        letter-spacing: 1px;
        font-weight: 400;
        align-self: center;
        margin: 0 auto;
    }
    .ceo {
        margin-bottom: 25px;
    }
    .ceo h2 {
        font-size: 20px;
        margin-bottom: 30px;
        color: #192565;
    }
    .ceo .card1 {
        position: relative;
        margin-bottom: 15px;
    }
    .ceo .card .blue {
        min-height: 75px;
        border-radius: 10px 10px 0px 0px;
        background-color: #7E86B4;
    }
    .ceo .card .circle1 {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 2px solid rgb(47, 157, 122);
        background-image: url(../img/team-1.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .ceo .card h4 {
        margin-top: 50px;
        text-align: center;
        color: #3a4cb0;
        font-size: 15px;
        margin-bottom: 0px;
    }
    .ceo .card h5 {
        text-align: center;
        color: #909198;
        font-size: 11px;
    }
    .ceo .card p {
        color: #909198;
        font-size: 8px;
        padding: 0px 6px 5px 5px;
    }
    .ceo .card .circle2 {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 2px solid rgb(49, 8, 88);
        background-image: url(../img/team-2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .ceo .card .circle3 {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 2px solid rgb(228, 20, 20);
        background-image: url(../img/team-3.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .ceo .card .circle4 {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 2px solid rgb(207, 230, 8);
        background-image: url(../img/team-4.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .contact {
        background-image: url(../img/contact.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .contact .cntnt-box {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 7px 20px;
        margin: 0;
        color: rgb(245, 245, 245);
    }
    .contact .cntnt-box button {
        border-radius: 10px;
        padding: 4px 20px;
        font-size: 13px;
        font-weight: 400;
        color: white;
        border: 0;
        letter-spacing: 1px;
        background-color: rgba(45, 61, 142, 0.6);
        margin-bottom: 10px;
    }
    .contact .cntnt-box p {
        font-size: 11px;
        margin: 10px 0px;
        color: #e9e9e9;
    }
    .contact .cntnt-box h4 {
        font-size: 19px;
    }
    .utub {
        padding: 15px;
        background-color: #CCCCCC;
    }
    .utub .utub-vdo iframe {
        height: 150px;
        width: 300px;
    }
    .utub .utub-cntnt {
        padding: 10px 0 0 0;
    }
    .utub h3 {
        color: #18256d;
        font-size: 19px;
    }
    .utub p {
        margin-top: 6px;
        line-height: unset;
        font-size: 12px;
        color: #6c6d72;
        margin-bottom: 15px;
    }
    .utub button {
        border-radius: 5px;
        padding: 5px 20px;
        font-size: 12px;
        font-weight: 400;
        color: white;
        border: 0;
        letter-spacing: 1px;
        background-color: #18256d;
        margin-bottom: 0;
    }
    .utub .utub-vdos iframe {
        height: 95px;
        width: 135px;
    }
    .testimony {
        padding: 15px;
    }
    .testimony h2 {
        margin-bottom: 15px;
        font-size: 20px;
    }
    .testimony .box-shdw {
        box-shadow: 0px 2px 5px grey;
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 25px;
    }
    .testimony .carousel-indicators {
    }
    .testimony .carousel-indicators li {
        width: 5px;
        height: 5px;
        border: 1px solid rgb(251, 24, 73);
    }
    .testimony .box-shdw h5 {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 0;
    }
    .testimony .box-shdw span {
        color: #aba7a7;
        font-size: 8px;
    }
    .testimony .box-shdw p {
        margin-top: 0;
        font-size: 9px;
        color: gray;
        margin-bottom: 0;
    }
    .mainfooter {
        background: #0a1240;
        color: white;
        padding: 15px 0px;
    }
    .mainfooter h5 {
        margin-bottom: 10px;
        font-size: 17px;
    }
    .list-unstyled {
        padding-left: 0;
        margin-bottom: 20px;
        list-style: none;
    }
    .mainfooter ul li {
        margin-bottom: 0px;
    }
    .mainfooter a {
        color: #fff;
        font-size: 11px;
        transition-duration: 0.2s;
    }
    .mainfooter .footer-connect .connect1 {
        width: 50px;
        border: 0;
        background-color: #1c2c84;
    }
}

/* Media devices */
@media only screen and (min-width: 576px) and (max-width : 767px){

    .header .logo {
        width: 100px;
    }

    .header {
        padding: 22px 50px 0px 38px;
        width: 100%;
        z-index: 12;
    }

    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.5);
        border-color: rgba(0,0,0,.1);
        FONT-SIZE: 12PX;
    }

    .banner-content .main-heading {
        margin-left: -17px;
    }
    .banner-content .main-heading h1 {
        color: white;
        font-size: 19px;
        margin-top: 0px;
    }

    .banner-content .main-heading p {
        color: #dadada;
        font-size: 10px;
        margin: 9px 60px 3px 0px;
    }

    .banner-content .main-heading button {
        border-radius: 50px;
        padding: 3px 10px;
        font-size: 10px;
        font-weight: 500;
        color: #0FCDF7;
        border: 1;
        letter-spacing: 0px;
        background: transparent;
        border-color: #0FCDF7;
        border-style: solid;
    }

    .about {
        background-color: #F2F2F2;
        padding: 0px;
    }

    .about h2{
        font-size: 19px;
    }

    .about p {
        text-align: justify;
        font-size: 13px;
        line-height: 1.8;
        text-indent: 40px;
       
    }

    .about button {
        border-radius: 50px;
        padding: 2px 12px;
        font-size: 12px;
        font-weight: 500;
        color: #4858AD;
        border: 1;
        letter-spacing: 1px;
        background: transparent;
        border-color: #4858AD;
        border-style: solid;
        float: left;
    }

    .about .big-circle img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
         background-repeat: no-repeat; 
         background-size: cover; 
        justify-content: center; 
         background-position: center; 
         position: relative; 
         margin: 0 auto; 
        transform: translatex(87px);
    }

    .about .big-circle {
        height: 380px;
        width: 380px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 80px;
        position: relative;
        margin-bottom: -169px;
    }

    .why {
        background-image: url(../img/whychoose.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        position: relative;
        padding: 25px;
    }

    .why h2 {
        font-size: 19px;
        margin-bottom: 10px;
    }

    .why i {
        font-size: 10px;
        color: #0FCDF7;
        padding: 4px;
        background-color: white;
        border-radius: 50%;
    }

    .why p {
        font-size: 13px;
        font-weight: 300;
        margin-bottom: 5px;
    }

    .sub-box .box1 {
        background-color: white;
        padding: 10px 30px;
        text-align: center;
        box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
        border-radius: 15px;
        margin: 0px 50px 0px 50px;
    }

    .sub-box .box h3 {
        color: #2B2A69;
        margin: 0px;
        font-size: 19px;
        
    }

    .sub-box .box p {
        color: #6d6d71;
        font-size: 13px;
        margin-bottom: 10px;
        text-align: justify;
    }

    .sub-box .box button {
        color: white;
        font-size: 11px;
        background-color: #2F41A5;
        border-radius: 50px;
        padding: 4px 14px;
        border: 1;
        letter-spacing: .5px;
        border-color: #2F41A5;
        border-style: solid;
    }


    .courses h2 {
        margin-bottom: 10px;
        text-align: left;
        color: #192565;
        font-size: 19px;
        margin-top: -30px;
    }

    .clr-box {
        background-color: rgba(49, 67, 165, 0.65);
        width: 250px;
        min-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .clr-box h4 {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
    }

    .ceo h2 {
        margin-bottom: 15px;
        color: #192565;
        font-size: 19px;
        margin-top: -30px;
}

.circle img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid rgb(47, 157, 122);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 0 auto;
    display: block;
    transform: translateY(37PX);
}

.ceo .card h4 {
    margin-top: 70px;
    text-align: center;
    color: #3a4cb0;
    font-size: 17px;
    margin-bottom: 0px;
}

.ceo .card h5 {
    text-align: center;
    color: #909198;
    font-size: 15px;
}

ceo .card p {
    color: #909198;
    font-size: 13px;
    padding: 0;
    margin: 12px;
}
.ceo {
    margin-bottom: -14px;
}
.contact .cntnt-box {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 25px;
    margin: 50px 50px;
    color: rgb(245, 245, 245);
}

.contact h4 {
    font-size: 19px;
}

.contact .cntnt-box p {
    font-size: 13px;
    margin: 8px 0px;
    color: #e9e9e9;
}


.contact .cntnt-box button {
    border-radius: 10px;
    padding: 3px 25px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    border: 0;
    letter-spacing: 1px;
    background-color: rgba(45, 61, 142, 0.6);
    margin: -2px;
}


.contact .contact-box .snd-btn {
    border-radius: 50px;
    padding: 4px 19px;
    font-size: 12px;
    font-weight: 500;
    color: #18256d;
    border: 2px;
    letter-spacing: 1px;
    background: transparent;
    border-color: #18256d;
    border-style: solid;
    width: 100%;
    margin-top: 5px;
}

.contact .contact-box h2 {
    color: #192565;
    font-weight: 500;
    font-size: 22px;
}

.contact .contact-box p {
    color: #6a6e82;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
}

.contact .contact-box .form-control {
    border-radius: .25rem;
    border: 1px solid #ababab;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    color: #495057;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 12px;
}

.contact .contact-box {
    background-color: white;
    width: 500px;
    border-radius: 10px;
    margin-left: 38px;
    margin-top: -31px;
    margin-bottom: 8px;
    padding: 44px 60px;
}

.utub .utub-vdo iframe {
    height: 230px;
    width: 230px;
}

.utub {
    padding: 20px;
    background-color: #CCCCCC;
}

.utub .utub-cntnt {
    padding: 0px 0px; 
    margin-left: -20px;
}

.utub h3 {
    color: #18256d;
    font-size: 20px;
}

.utub p {
    margin-top: 6px;
    line-height: 1.5;
    color: #6c6d72;
    margin-bottom: 24px;
    font-size: 15px;
}

.testimony {
    padding: 5px;
}


    .testimony h2 {
        padding-top: 38px;
        font-size: 19px;
        margin-bottom: 17px;
    }


.why p {
    font-size: 11px;
    font-weight: 300;
    margin: 3px 13px 5px -5px;
}

.testimony .owl-carousel span {
    color: #aba7a7;
    font-size: 8px;
}

.testimony .owl-carousel h5 {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: -10px;
}

.testimony .owl-carousel p {
    margin-top: -6px;
    font-size: 9px;
    color: gray;
    margin-bottom: -2px;
}
.mainfooter {
    background: #0a1240;
    color: white;
    padding: 30px 0px 30px 0px;
}

.mainfooter h5 {
    margin-bottom: 5px;
    font-size: 18px;
}

.mainfooter a {
    color: #fff;
    font-size: 12px;
    transition-duration: 0.2s;
}

    .mainfooter .cont-box{
        margin-top: 34px;
    }

    
}       

